.usage-sparkline {
    width: 100%;
    height: 100%;
    position: relative;
}

.usage-sparkline__svg {
    width: 100%;
    height: 100%;
    overflow: visible;
}

/* Tooltip animation could go here */